body {
	background-color: pink;
	margin: 0px;
}
nav {
	background-color: lightgreen;
	height: 40px;
}
ul {
	list-style: none;
	margin-top: 0px;	
}
li {
	display: inline;
}
img {
	max-width: 200px;
}
table, th, td  {
	border: 1px solid black;
}
table {
	margin: auto;
}
.center-text {
	text-align: center;
}